[Desktop Entry]
Type=Application
Version=1.5
Name=scolorpicker
GenericName=Color Picker
Comment=smooll's Color Picker
Icon=scolorpicker
Exec=/usr/bin/scolorpicker -o clipboard
Terminal=false
Categories=AudioVideo;Video;Development;Graphics;Utility;ConsoleOnly
SingleMainWindow=true
